
*.tgz
*.txt

.DS_Store
.git/
.gitignore
.npmignore
backup.xml
build.sh
data/
lint.sh
merge.sh
mocha-junit-results.xml
mocha-xunit-results.xml
mocha.opts
node_modules/
parse.sh
src/
test/
test.sh
tmp/
tslint.json
